.banner {
  height: 250px;
  background-color: #efebf5;
  position: relative;
  /* border-radius: 20px; */
  /* max-width: 100%; */
}

.banner h2 {
  /* font-family: "ABeeZee"; */
  font-style: italic;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
}

@media only screen and (max-width: 1050px) {
  .bannerimg {
    display: none;
  }
}
